* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #444;
}

/* .rotateNumberButton {
  font-size: 15px;
  margin-left: 10px;
  background-color: #0ad2d2;
} */

.rotateNumberButton {
  margin-left: 10px;
  width: 50px; /* Set the width and height to create a circular shape */
  height: 50px;
  border-radius: 50%; /* Makes the element a circle */
  background-color: #0d8d8d; /* Background color of the button */
  border: none; /* Remove the default button border */
  cursor: pointer; /* Show a hand cursor on hover for better usability */
}

.rotateNumberButton:hover {
  border: 1px solid black;
}

.rotateNumberButton:active {
  border: none;
}

.rotateNumberButton:disabled {
  background-color: lightgray;
}

.rotateNumberButton:disabled:hover {
  border: none;
}

.rotateNumberButton img {
  padding: 5px;
  width: 40px;
  height: auto;
}

.container {
  width: 20em;
  text-align: center;
}

.mainTable {
  width: 100%;
  margin-bottom: 10px;
}

.active {
  color: #30af30;
}

.row td,
.row th,
.row tf {
  width: 20%;
  height: 1.75em;
}

.divider {
  border-bottom: 3px solid #000;
}

.tableHead th:not(:first-child),
.tableBody td:not(:first-child) {
  border-left: 1px dashed #000;
}

/* .rotatedText {
  transform: rotate(90deg);
} */

.numberInput {
  width: 40px;
  height: 40px;
  text-align: center;
}
