* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #444;
}

/* .column-headers {} */

.container {
  width: 360px;
  text-align: center;
}

.mainTable {
  width: 100%;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.row td,
.row th,
.row tf {
  width: 20%;
  height: 1.75em;
}

.divider {
  border-bottom: 3px solid #000;
}

.tableHead th:not(:first-child),
.tableBody td:not(:first-child) {
  border-left: 1px dashed #000;
}

.buttonCell {
  border: 0 !important;
}

.mainTable thead tr th p,
.mainTable tfoot tr th p {
  font-size: 15px;
  transform: rotate(-45deg);
  margin-top: 20px;
  margin-bottom: 20px;
}
